<?xml version="1.0" encoding="UTF-8"?>

<web-app id="servlet-2_4"
         version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>Archetype Created Web Application</display-name>

  <listener>
    <listener-class>dev.boiarshinov.config.WebConfig</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>dev.boiarshinov.controller.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>dev.boiarshinov.controller.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>add</servlet-name>
    <servlet-class>dev.boiarshinov.controller.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  
</web-app>
